/*----------  Third Party  ----------*/
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/*----------  Fonts  ----------*/
@font-face {
  font-family: 'scriptin';
  src: url('/assets/fonts/scriptin.ttf');
}

@font-face {
  font-family: 'alsscrp';
  src: url('/assets/fonts/alsscrp.ttf');
}

@font-face {
  font-family: 'butler_medium';
  src: url('/assets/fonts/Butler_Medium.otf');
}

@font-face {
  font-family: 'butler_light';
  src: url('/assets/fonts/Butler_Light.otf');
}

/*----------  Generic styles  ----------*/
body {
  margin: 0;
  padding: 0;

  &.rsvp-page {
    background: #faddcc;
    font-family: sans-serif;
    overflow: hidden;
  }
}

@keyframes point {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
