.rsvp-title {
  text-align: center;
  padding: 20px 0;
  color: #666;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;

  &__heading {
    &--handwriting {
      font-family: 'scriptin', cursive;
      font-weight: 300;
      font-size: 36px;
      margin: 0;
      line-height: 1em;

      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
  }

  &__sub-heading {
    &--handwriting {
      font-family: 'scriptin', cursive;
      font-weight: 300;
      font-size: 18px;
      margin: 10px 0 0;

      @media screen and (max-width: 767px) {
        font-size: 14pxl
      }
    }
  }

  &__name {
    font-size: 40px;
    font-family: proxima-nova,Helvetica Neue,sans-serif;
    margin: 10px 0 0;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1em;

    @media screen and (max-width: 767px) {
      font-size: 26px;
    }

    span {
      font-family: 'scriptin', cursive;
      font-size: 24px;

      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}