.rsvp-title {
  text-align: center;
  color: #666;

  &__heading {
    font-weight: 100;
    font-size: 46px;
    margin: 20px 0 0;
    line-height: 1em;
    font-family: 'butler_light';

    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }

  &__bouquet {
    width: 130px;

    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }
}