.rsvp-title {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
  color: #666;
  font-family: 'Great Vibes', cursive;

  &__rsvp {
    &--handwriting {
      font-family: 'scriptin', cursive;
      font-weight: 300;
      font-size: 51px;
      margin: -50px 0 0;
      line-height: 1.3em;
    }
  }
}