.rsvp {
  overflow: hidden;

  &__hero {
    height: 100vh;
    position: fixed;
    width: 55%;

    @media screen and (max-width: 767px) {
      position: relative;
      width: 100%;
    }
  }

  &__content {
    position: fixed;
    background: #fcfaeb;
    width: 45%;
    right: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      position: relative;
      width: 100%;
    }
  }
}
